@import url('https://fonts.googleapis.com/css2? family=Montserrat:wght@300;400;700&display=swap');
*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Montserrat", sans-serif;
	background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(our image.jpg);
	background-size: cover;
	background-position: center;
}

.box {
	border-radius: 20px;
	width: 300px;
	padding: 30px;
	background-color: rgba(0, 0, 0, 0.4)
	box-shadow: 1px 1px 2px #ffc400ef;
	display: flex;
	flex-direction: column;
}

.box h1{
	color: #fff;
	text-transform: uppercase
	font-weight: 700;
	align-self: center;
}

.wrapper{
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}













